version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend_service
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    depends_on:
      - postgres
    networks:
      - appnet

  ai:
    build: ./ai
    container_name: ai_service
    ports:
      - "7000:7000"
    env_file:
      - ./ai/.env
    networks:
      - appnet

  whatsapp:
    build: ./whatsapp
    container_name: whatsapp_service
    env_file:
      - ./whatsapp/.env
    networks:
      - appnet

  frontend:
    build: ./frontend
    container_name: frontend_service
    ports:
      - "3000:3000"
    env_file:
      - ./frontend/.env
    networks:
      - appnet

  postgres:
    image: postgres:14
    container_name: postgres_db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: appdb
    ports:
      - "5432:5432"
    networks:
      - appnet

networks:
  appnet:
    driver: bridge
